html{
  font-family: 'Plus Jakarta Sans', sans-serif;

}
body{
  margin: 0px auto;
}
h3{
  font-weight: 600 !important;
}
p{
  font-size: 0.9rem;
  font-weight: 400 ;
}
a{
  text-decoration: none;
}

button{
  font-weight: 600 !important;
}